html {
  overflow-x: scroll;
  min-width: 1700px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App .row {
  margin: 50px 0;
  padding-bottom: 50px;
  border-bottom: 1px dashed #000;
}

.graph {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #333;
}

.graph:first-child {
  border: none;
  padding-left: none;
  margin-left: none;
}

.graph .caption {
  font-size: 14px;
  color: #777;
  margin-top: 24px;
  font-style: italic;
}

.command {
  font-size: 20px;
  color: #777;
  margin-top: 26px;
  font-style: italic;
}

.App .title {
  font-size: 40px;
  color: #000000;
  margin-top: 26px;
  font-style: bold;
}

